@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: white;
    color: black;

    font-size: 16;
    font-weight: normal;
    font-family: "Roboto", 'sans-serif';
    font: normal 16px "Roboto", 'sans-serif';
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

a{
    color: black;
}
h1{
    color: red;
}

.avatar{
    width: 200px;
    border-radius: 50px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info p{
    color: gray;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;*/
    /*letter-spacing: 5px;*/
    /*word-spacing: 42px;*/
}

.container{
    width: 750px;
    margin: auto;
}

/* .social{
    background: red;
    padding: 15px;
    border: 5px solid green;
    margin: 20px;
    border-radius: 30px;  
    border-right-color: blue;  
} */
